/*!*********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./app/src/index.scss ***!
  \*********************************************************************************************************************************************************************/
body {
  border: 200px green;
}

body {
  background: red;
}

body {
  opacity: 1;
}

body {
  background: red;
}
